# ---------- Python ----------
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
backend/venv/
.env
backend/.env

# ---------- Node ----------
node_modules/
frontend/node_modules/

# ---------- Database ----------
*.db
*.sqlite
*.sqlite3

# ---------- Repository Clones ----------
backend/repos/

# ---------- IDE ----------
.vscode/
.idea/

# ---------- macOS ----------
.DS_Store

# ---------- Logs ----------
*.logbackend.zip
